main {
    background: linear-gradient(#494a4d, #7884ff);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    background: linear-gradient(#3e4046, #5e6cff);
    margin: 130px;
    padding: 20px;
    border-radius: 5px;
}

.campos {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

input {
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    width: 300px;
    margin-left: 5px;
    padding-left: 3px;
}
input:focus {
    outline: none;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.inicio {
    margin-bottom: 40px;
}

.password {
    margin-bottom: 50px;
}

button {
    background-color: #4538f0;
    border: 1px solid #5044f7;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 auto;
    color: black;
    font-size: 13px;
    margin-bottom: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

button:hover, .botoes:hover {
   background-color: #3325ee; 
}

.recado {
    text-align: center;
}
